$background-color: #111
$primary-color: #999

// ---------------------------------------------------------------------------
// Loading
// ---------------------------------------------------------------------------

#loading
    color: $primary-color
    background: $background-color

#lpt
    background-color: #2E2E2E
    background-image: linear-gradient(315deg,transparent,transparent 33%,rgba(255,255,255,.12) 33%,rgba(255,255,255,.12) 66%,transparent 66%,transparent)

#stb
    color: $primary-color
    background: $background-color


// ---------------------------------------------------------------------------
// External frame
// ---------------------------------------------------------------------------

// Compose button
div.T-I-KE
    color: #A2A2A2
    background: #2E2E2E

    // Hover
    &.T-I-JW
        color: #D8D8D8
        background: #333333
        border: 1px solid #333333

// Search button
#gbqfb
    color: #D8D8D8
    background: #333333


// ---------------------------------------------------------------------------
// Email
// ---------------------------------------------------------------------------

// Thread
div.ads.adf,
div.G2
    background-color: $background-color !important
div.g6
    color: $primary-color

// Background
.iY .Bu
    background-color: $background-color

// Title
h2.hP,
// From
span.gD,
// Email
span.go,
// To
span.g2,
// Date
span.g3,
// Text
div.gs
    color: $primary-color


// ---------------------------------------------------------------------------
// "Show images"
// ---------------------------------------------------------------------------

// Bar
div.h9
    background-color: $background-color
    border: 1px solid $primary-color

// Text
div.ado
    color: $primary-color


// ---------------------------------------------------------------------------
// Footer
// ---------------------------------------------------------------------------

// Disk usage
div.md.mj,
// Disk usage management
div.aeW a.l8,
// Terms and privacy
div.ma,
// Last activity
div.ma a.l9,
// Last activity details
div.l6,
div.l6 span.l8.ou
    color: $primary-color
